<!DOCTYPE html>
<!-- login.html -->
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/styles2.css">
    <link rel="stylesheet" href="../css/Login.css">
</head>
<body> 
    <div class="login-container">
        <img src="../img/logo.png" alt="Logo" class="login-logo">
        <h1 class="login-title"> TE LLEVO 21</h1>
        
        <form class="login-form" id="loginForm">
            <input type="email" class="login-input" placeholder="Correo electrónico" id="email" required>
            <input type="password" class="login-input" placeholder="Contraseña" id="password" required>
            <button type="submit" class="login-button">Iniciar Sesión</button>
        </form>
        
        <div class="login-links">
            <a href="recuperar-password.html">¿Olvidaste tu contraseña?</a>
            <a href="Registro.html">Registrarse</a>
        </div>
    </div>
    
    <script src="../carpeta.js/login.js"></script>
</body>

</html>
