<div class="modal fade" id="perfilModal" tabindex="-1" aria-labelledby="perfilModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="perfilModalLabel">Mi Perfil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="profile-container">
                    <div class="profile-header">
                        <img src="../img/usuario.png" alt="Foto de perfil">       
                    </div>
                    <div class="profile-info">
                        <div class="info-item">
                            <span class="info-label">Nombre de usuario</span>
                            <span class="info-value" id="modalName"></span>
                        </div>
                        <div class="info-item">
                            <span class="info-label">Correo electrónico</span>
                            <span class="info-value" id="modalEmail"></span>
                        </div>
                        <div class="info-item">
                            <span class="info-label">DNI</span>
                            <span class="info-value" id="modalDNI"></span>
                        </div>
                        <div class="info-item">
                            <span class="info-label">Teléfono</span>
                            <span class="info-value" id="modalTelefono"></span>
                        </div>
                        <div class="info-item">
                            <span class="info-label">ID de Usuario</span>
                            <span class="info-value" id="modalUserID"></span>
                        </div>
                        <div class="info-item">
                            <span class="info-label">Rol</span>
                            <span class="info-value" id="modalUserRole"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="modalCambiar" class="btn btn-primary">Cambiar Contraseña</button>
                        <button id="modalLogoutButton" class="btn btn-danger">Cerrar sesión</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 